<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie de página</title>
  </head>
  <footer>
    <div class="container bg-light flex flex-wrap justify-center items-center text-primary p-4 mx-auto">
      <img src="./assets/images/JNIC-logo.png" alt="Logo" class="max-w-[150px] max-h-[50px]">
      <nav class="grid grid-cols-2 justify-center md:flex md:items-center">
        <a href="index.html" class="text-primary hover:underline mx-4">Inicio</a>
        <a href="page2.html" class="text-primary hover:underline mx-4">Ponencias</a>
        <a href="#" class="text-primary hover:underline mx-4">Nota de prensa</a>
        <a href="#" class="text-primary hover:underline mx-4">Contacto</a>
      </nav>
      <div class="flex space-x-4 text-xl">
        <a href="#" class="hover:text-warning transition-colors"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="hover:text-warning transition-colors"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="hover:text-warning transition-colors"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="container-fluid bg-primary flex items-start text-left text-white p-4">
      <img src="./assets/images/uoc-logo.png" alt="UOC Logo" class="max-w-[150px] max-h-[50px]">
      <div class="text-xs">
        <p lang="en" class="mb-4">
          This wireframe has been created exclusively for its use within the “HTML and CSS Tools II” course at the UOC's Master Program in Website and Web App Development. Its reproduction and other uses are not authorized.
        </p>
        <p lang="en" class="mb-4">&copy; December 2024 - Miguel Fernández Martín and Universitat Oberta de Catalunya.</p>
      </div>
    </div>
  </footer>
</html>
