<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de navegación</title>
  </head>
  <header class="grid grid-cols-2 justify-center p-4">
    <img src="./assets/images/JNIC-logo.png" alt="Logo" class="max-w-[150px] max-h-[50px]">
    <nav class="grid grid-cols-2 justify-end md:flex md:items-center">
      <a href="index.html" class="text-primary hover:underline mx-4">Inicio</a>
      <a href="page2.html" class="text-primary hover:underline mx-4">Ponencias</a>
      <a href="#" class="text-primary hover:underline mx-4">Nota de prensa</a>
      <a href="#" class="text-primary hover:underline mx-4">Contacto</a>
    </nav>
  </header>
</html>
